<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cirurgia Capilar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{{ url_for('static', filename='img/icb_logo.png') }}" alt="Logo ICB" class="company-logo" onerror="this.onerror=null;this.src='{{ url_for('static', filename='img/logo4_Logo - transplante.pdf') }}';">
            <h1>Formulário de Cirurgia Capilar</h1>
        </div>
        <nav class="main-nav">
            <a href="{{ url_for('novo_cadastro') }}" class="nav-link">Novo Cadastro</a>
            <a href="{{ url_for('dashboard') }}" class="nav-link">Dashboard</a>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>